.header strong{
    font-size:large;
    color: white;
}
.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.links-header{
    display:flex;
}
.header a{
    line-height: 1em;
    display: flex;
    align-items: baseline;
    cursor: text;
    text-decoration: none;
    pointer-events: none;
    padding: 5px;
    font-size: 10px;
    color: white;
}

header{
    background-color: rgb(37,45,57);
    margin: -8px;
    padding-top: 10px;
    padding-right: 110px;
    padding-left: 110px;
    padding-bottom: 90px;
}